<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon.png') }}">
        <title>{{ ['Simple PDNS Manager'] | merge([pageTitle | default('')]) | join(' ~ ') }}</title>
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="login-page">
        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/waves.js') }}"></script>
        <script src="{{ asset('build/js/sidebarmenu.js') }}"></script>
        <script src="{{ asset('build/js/custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
