<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon.png') }}">
        <title>{{ ['Simple PDNS Manager'] | merge([pageTitle | default('')]) | join(' ~ ') }}</title>
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {#<div class="preloader">#}
            {#<div class="lds-ripple">#}
                {#<div class="lds-pos"></div>#}
                {#<div class="lds-pos"></div>#}
            {#</div>#}
        {#</div>#}
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <header class="topbar" data-navbarbg="skin5">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    {% include 'partials/header/brand.html.twig' %}
                    {% include 'partials/header/top_navigation.html.twig' %}
                </nav>
            </header>
            {% include 'partials/sidebar.html.twig' %}
            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row align-items-center">
                        <div class="col-12">
                            {% if mainTitle is defined %}
                            <h4 class="page-title">{{ mainTitle }}</h4>
                            {% endif %}
                            <div class="d-flex align-items-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    {% include 'partials/flashes.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
                <footer class="footer text-center">
                    All Rights Reserved by Xtreme Admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
                </footer>
            </div>
        </div>
        <script src="{{ asset('build/js/waves.js') }}"></script>
        <script src="{{ asset('build/js/sidebarmenu.js') }}"></script>
        <script src="{{ asset('build/js/custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
