{% embed 'base.html.twig' %}
    {% set pageTitle = 'page_titles.domains' | trans({}, 'titles') %}

    {% block body %}
        <div class="row">
            <div class="col-12 mb-2">
                {% for domainType in ['master', 'slave', 'native'] %}
                    {% set buttonClasses = ['btn', 'btn-primary', 'btn-sm'] %}
                    {% if domainType != 'master' %}
                        {% set buttonClasses = buttonClasses | merge(['disabled']) %}
                    {% endif %}

                    <a href="{{ path('action.domain.create', {type: domainType}) }}" class="{{ buttonClasses | join(' ') }}">
                        <i class="fa fa-plus"></i>
                        {{ ('add_domain.' ~ domainType) | trans({}, 'buttons') }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'default_list_title' | trans({}, 'titles') }}</h4>
                            <table class="table table-hover"
                                   data-role="domain-data-table"
                                   data-ajax="{{ path('action.domain.xhr.data_table') }}"
                                   data-processing="true"
                                   data-server-side="true"
                                   data-page-length="10"
                                   data-searching="false"
                                   data-ordering="false"
                                   data-length-change="false"
                                   data-edit-link-format="{{ path('action.domain.update', {id: '__ID__'}) }}"
                                   data-record-link-format="{{ path('action.record.index', {domain: '__ID__'}) }}"
                                   style="width: 100%;"
                            >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ 'domain.name' | trans({}, 'forms') }}</th>
                                        <th>{{ 'general.actions' | trans({}, 'forms') }}</th>
                                    </tr>
                                </thead>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/pages/domain.js') }}"></script>
    {% endblock %}
{% endembed %}
