<div class="navbar-header" data-logobg="skin5">
    <a class="navbar-brand" href="{{ path('action.dashboard.index') }}">
        <b class="logo-icon">
            <img src="{{ asset('build/images/logo-icon.png') }}" alt="homepage" class="dark-logo" />
            <img src="{{ asset('build/images/logo-light-icon.png') }}" alt="homepage" class="light-logo" />
        </b>
        <span class="logo-text">
            <img src="{{ asset('build/images/logo-text.png') }}" alt="homepage" class="dark-logo" />
            <img src="{{ asset('build/images/logo-light-text.png') }}" class="light-logo" alt="homepage" />
        </span>
    </a>
    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
</div>
